{% load static %}
<li>
    <div class="article-item">
        <img class="article-pic" id="image-{{ article.article_id }}" title="{{ article.title }}" src="/static/images/loading.gif">
        <div class="article-info">
            <a class="article-title" href="/articles/p/{{ article.article_id }}.html">{{ article.title }}</a>
            <hr>
            <div class="article-description">{{ article.abstract }}</div>
            <div class="article-footer">
                <div>
                    <i class="fa">&#xf073</i>
                    <span>{{ article.year }}-{{ article.day }}</span>
                </div>
                <div>
                    <a href="/articles/p/{{ article.article_id }}.html">阅读全文&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</li>


