{% extends 'base.html' %}
{% load static %}
{% block title %}
    西湖歌舞几时休
{% endblock %}

{% block mycss %}
    {{ block.super }}
    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/learn.css' }}"  rel="stylesheet">

{% endblock %}
<style>
    #readmore1{
        width: 100px;
        height: 40px;
        background: red;
    }
</style>

{% block content %}
    <style>
        #category-btn{
            -moz-user-select: none; /*火狐*/
            -webkit-user-select: none; /*webkit浏览器*/
            -ms-user-select: none; /*IE10*/
            -khtml-user-select: none; /*早期浏览器*/
            -o-user-select: none; /* Opera*/
            user-select: none;
        }
    </style>
    <article>
        <aside>
        <div class="my-container">
            <h2 class="ctitle"><b>{{ tag }}</b></h2>
            <ul class="cbp_tmtimeline">
                {% for article in articles %}
                    <li>
                        <time class="cbp_tmtime">
                            <span>{{ article.year }}</span>
                            <span>{{ article.day }}</span>
                        </time>

                        <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                            <h2>{{ article.title }}</h2>
                            <div>
                                <p>
                                    <span class="blogpic">
                                        <img class=".blog-img" title="{{ article.title }}" id="image-{{ article.article_id }}" style="width: 100%; height: 85%">
                                    </span>
                                    <a href="/articles/p/{{ article.article_id }}.html">
                                        {{ article.description }}
                                    </a>
                                </p>
                            </div>
                            <div id="readmore1">
                                <a href="/articles/p/{{ article.article_id }}.html" target="_blank" class="readmore">阅读全文>></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </aside>
    </article>
    <script>
        $(".blogpic > img").each(function() {
            image_download_and_set($(this).attr("id"), "/articles/d_icon/?title=" + $(this).attr("title"))
        });
    </script>
{% endblock %}




