{% extends 'base.html' %}
{% block title %}
    用户注册
{% endblock %}

{% block mycss %}
    {{ block.super }}
    <style>
        #content {
            width: 40%;
            margin-left: 25%;
            height: 400px;
            padding: 20px;
            background-color: #c0d592;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px #000000;
        }

        #content form {
            margin: 20px;
            text-align: left
        }

        #contentForm input {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 300px;
            height: 30px;
            border: none;
            padding: 3px;
            padding-left: 30px;
            border-radius: 5px;
        }

        #btn {
            background: grey;
            color: #f2f2f2;

            padding: 10px 30px 10px 30px;
            font-size: 16px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
            font-weight: bold;
            border-radius: 3px;
            border: none;
        }
        #btn:hover{
            background: #9e4177;

        }

    </style>
{% endblock %}

{% block content %}

    <div id="content">
    {% if yes == 0 %}
            <p>{{ msg }}</p>
    {% elif yes == 1 %}
        <script type="text/javascript">
            function jumurl(){
                alert("注册成功，点击跳转登陆");
                window.location.href = '{% url "user:login" %}';
            }
            setTimeout(jumurl, 1000);
        </script>
    {% endif %}
        <div id="contentForm">
            <form action="{% url 'user:regist' %}" method="post">
                {% csrf_token %}

                <input type="text" placeholder="请输入用户名" name="username" required=""><br>
                <p>
                    <input type="text" placeholder="请输入手机号码" name="phone" required="" style="width: 210px;">
                    <input type="button" value="发送验证码" id="send_code" style="width: 80px;height: 35px">
                </p>

                <input type="password" placeholder="4位验证码" id="verification_code" name="verification_code" required=""><br>
                <input type="password" placeholder="请输入密码" id="password1" name="password1" required=""><br>
                <input type="password" placeholder="请确认密码" id="password2" name="password2" required=""><br>

                <button id="btn">提交注册</button>
            </form>
        </div>
        <script type="text/javascript">
            $(function () {
                $("#send_code").css({"padding-left": "0px"});
            });
            $("#send_code").click(function(){
                $(this).val('60s');
                var time = 10;
                var intervalId = window.setInterval(function () {
                     if (time === 0){
                         alert("超时");
                         clearInterval(intervalId);
                         $("#send_code").val('发送验证码');
                         return ;
                     }
                     $("#send_code").val(time + 's');
                     time--;
                }, 1000);
            });
        </script>
    </div>
{% endblock %}

{% block my_js %}
    <script>
        window.onload = function () {
            document.getElementById('password1').onchange = validatePassword;
            document.getElementById('password2').onchange = validatePassword;
            //document.getElementById('send_code').textContent = "60s";
        };

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById('password2').setCustomValidity("输入两次密码不一致");
            else
                document.getElementById('password2').setCustomValidity("");

        }
    </script>
{% endblock %}