{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="python+django搭建自己的博客,搭建博客" charset="utf-8"/>
    <meta name="description" content=" python+django搭建自己的博客,搭建博客" charset="utf-8"/>
{% endblock %}

{% block content %}
    <div class="blog row" data-scroll-reveal="enter top" style="border: 0px solid red">
        {% for figure_article in figure_articles  %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="border: 0px solid red;">
                <figure id="my-figure">
                    <ul style="padding: 0;">
                        <a href="{{ figure_article.url }}?title={{ figure_article.title }}" style="padding: 0">
                            <img id="image-{{ figure_article.article_id }}" title="{{ figure_article.title }}" style="width: 100%; height: 100%; padding: 0;" src="/static/images/loading.gif">
                            <span>点击查看详情</span>
                        </a>
                    </ul>
                    <p>
                        <a href="{{ figure_article.url }}?title={{ figure_article.title }}">{{ figure_article.title }}</a>
                    </p>
                    <figcaption>
                        <span>
                            {{ figure_article.description }}
                        </span>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <div id="articles-for-md" class="row hidden"  style="margin-top: 64px; ">
        <ul class="cbp_tmtimeline">
            {% for darticle in articles %}
                <li>
                    <div>
                        <time class="cbp_tmtime">
                            <span>{{ darticle.year }}</span>
                            <span>{{ darticle.day }}</span>
                        </time>
                    </div>
                    <div class="cbp_tmicon"  style="border: 0px saddlebrown solid;"></div>
                    <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                        <h2>{{ darticle.title }}</h2>
                        <p>
                            <span class="blogpic">
                                <img id="image-{{ darticle.article_id }}" title="{{ darticle.title }}" style="height: 85%" src="/static/images/loading.gif">
                            </span>
                            <a class="article-description" href="{{darticle.url}}?title={{darticle.title}}">
                                {{ darticle.description }}
                            </a>
                        </p>
                        <a href="{{ darticle.url }}?title={{ darticle.title }}" class="readmore">阅读全文&gt;&gt;</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pages">
        <a title="前一页"><b> < </b> </a>
        <a title="后一页"><b> > </b> </a>
        <label id="total-pages">共{{total_pages}}页</label>
    </div>

    <script>
        var screenWidth = getWidth();
        if (screenWidth > 980) {
            $("#articles-for-sm").attr("class", "hidden")
            $("#articles-for-md").attr("class", "show")
        }
        else {
            //$("#articles-for-sm").attr("class", "show")
            //$("#articles-for-md").attr("class", "hidden")
        }
        $("img").each(function() {
            image_download_and_set($(this).attr("id"), "/articles/d_icon/?title=" + $(this).attr("title"))
            }
        )

        $('.pages a:not(":first,:last")').remove();
        $("#total-pages").text("共 {{ total_pages }} 页");

        let idx = parseInt("{{ page_id }}");
        var total_pages = parseInt({{ total_pages }});
        var select_idx = 1;
        console.log(idx, total_pages)
        if(total_pages <= 5) {     //如果总页码数小于等于5，则全部显示
            for(var i = 1; i <= total_pages; i++){
                $('.pages a:last').before('<a title="第' + i +'页" id="page-index"><b>' + i + '</b></a>');
            }
        }
        else { // 页面数大于5，看当前页面情况
            if (idx < 5 - 2) {
                for (var i = 1; i <= 5; i++) {
                    $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                }
            } else if(idx > total_pages - 2) {
                for (var i = total_pages - 5 + 1; i <= total_pages; i++) {
                    $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                }
            } else {
                 for (var i = idx - 2; i <= idx + 2; i++) {
                    $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                }
            }
        }

       $('.pages a:not(":first,:last")').each(function (){
            if (parseInt($(this).text()) === idx)  {
                $(this).addClass('active');
            }
       }).click(function () {
           select_idx = parseInt($(this).text());
           go_to_page();
       });

        $('.pages a:first').unbind("click").click(function () {
            if (select_idx === 1) {
                alert("已经是第一页了咩~");
            }
            else {
                select_idx -= 1;
                go_to_page();
            }
        });

        $('.pages a:last').unbind("click").click(function () {
            if (select_idx === total_pages) {
                alert("已经是最后一页了~");
            }
            else {
                select_idx += 1;
                go_to_page();
            }
        });

        function go_to_page(){
            $.ajax({
                type:'GET',
                url: "/?page_id=" + select_idx + "&width=" + getWidth(),
                datatype: JSON,
                success:function (rsp) {
                    f1(rsp);
                },
                error:function () {
                    console.log('ajax刷新分页数据失败！');
                }
            });
        }

        function f1(rsp) {
            $('.cbp_tmtimeline li').remove();

            for (var i = 0; i < rsp.figure_articles.length; i++) {
                var url = encodeURI(rsp.figure_articles[i].url + "?title=" + rsp.figure_articles[i].title);
                //var figure = $("#my-figure");
                $("my-figure").foreach(function (){
                    $(this).children("ul").remove();
                    $(this).children("p").remove();
                    $(this).children("figcaption").remove()

                    $(this).append(
                        '<ul style="padding: 0; margin: 0;">' +
                        '<a href="' + url + '" target="_blank">' +
                        '<img id="image-' + i + '" title="' + rsp.figure_articles[i].title +'" style="width: 100%; height: 100%; margin: auto;" src="/static/images/loading.gif">' +
                        '<span>点击查看详情</span>' +
                        '</a>' +
                        '</ul>' +
                        '<p>' +
                        '<br><a href="' + url + '" target="_blank">' + rsp.figure_articles[i].title + '</a>' +
                        '</p>' +
                        '<figcaption>' +
                         rsp.figure_articles[i].description +
                        '</figcaption>' +
                        '</figure>'
                    )
                })
            }

            for (var i = 0; i < rsp.articles.length; i++) {
                var url = encodeURI(rsp.articles[i].url + "?title=" + rsp.articles[i].title);
                $('.cbp_tmtimeline').append('' +
                    '<li>' +
                    '<time class="cbp_tmtime">' +
                    '<span>' + rsp.articles[i].year + '</span>' +
                    '<span>' + rsp.articles[i].day + '</span>' +
                    '</time>' +
                    '<div class="cbp_tmicon" style=""></div>' +
                    '<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">' +
                    '<h2>' + rsp.articles[i].title + '</h2>' +
                    '<p>' +
                    '<span class="blogpic">' +
                    '<img id="' + i + '" title="' + rsp.articles[i].title + '"style="width: 100%; height: 80%" src="/static/images/loading.gif">' +
                    '</span>' +
                    '<a href="' + url + '" class="article-description">' +
                    rsp.articles[i].description +
                    '</a>' +
                    '</p>' +
                    '<a href="' + url + '"  class="readmore" target="_blank">阅读全文&gt;&gt;</a>' +
                    '</div>' +
                    '</li>'
                );
            }

            $("img").each(function() {
                image_download_and_set($(this).attr("id"), "/articles/d_icon/?title=" + $(this).attr("title"))
                }
            )

            $('.pages a:not(":first,:last")').each(function () {
                $(this).remove();
            })

            if(total_pages <= 5) {     //如果总页码数小于等于5，则全部显示
                for(var i = 1; i <= total_pages; i++){
                    $('.pages a:last').before('<a title="第' + i +'页" id="page-index"><b>' + i + '</b></a>');
                }
            }
            else { // 页面数大于5，看当前页面情况
                if (select_idx < 5 - 2) {
                    for (var i = 1; i <= 5; i++) {
                        $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                    }
                } else if(select_idx > total_pages - 2) {
                    for (var i = total_pages - 5 + 1; i <= total_pages; i++) {
                        $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                    }
                } else {
                     for (var i = select_idx - 2; i <= select_idx + 2; i++) {
                        $('.pages a:last').before('<a title="第' + i + '页" id="page-index"><b>' + i + '</b></a>');
                    }
                }
            }

            $('.pages a:not(":first,:last")').each(function () {
                if (parseInt($(this).text()) === select_idx) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });

            $('.pages a:not(":first,:last")').each(function (){}).click(function () {
                select_idx = parseInt($(this).text());
                go_to_page();
            });

            $('.pages a:first').unbind("click").click(function () {
                if (select_idx === 1) {
                    alert("已经是第一页了咩~");
                }
                else {
                    select_idx -= 1;
                    go_to_page();
                }
            });

            $('.pages a:last').unbind("click").click(function () {
                if (select_idx === total_pages) {
                    alert("已经是最后一页了~");
                }
                else {
                    select_idx += 1;
                    go_to_page();
                }
            });
        }
    </script>
{% endblock %}



