{% extends 'base.html' %}
{% load static %}
{% block title %}
    站内文档
{% endblock %}

{% block mycss %}
    {{ block.super }}
    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/learn.css' }}"  rel="stylesheet">
<style>
    .document {
    }
    .document > h5 > a {
        color: black;
    }
    .document > h5 > a:hover {
        color: black;
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
    <script>
        function click_download(name) {
            $.ajax({
                type: 'POST',
                data: {'name': name, csrfmiddlewaretoken: '{{ csrf_token }}'},
                url: '{% url 'document:download' %}',
                datatype: JSON,
                success:function (data) {
                    console.log("ajax刷新下载成功！");
                },
                error:function () {
                    console.log('ajax刷新分页数据失败！');
                }
            });
        }

    </script>

    <article>
        <aside>
        <div class="my-container">
            <h2 class="ctitle"><b>站内文档</b></h2>
            <br>
            <ul>
               {% for doc in documents %}
                   <li>
                        <div class="document">
                            <h5><a href="{{ doc.url }}" target="_blank" onclick="click_download('{{ doc.name }}')">{{ doc.name }}
                                &nbsp;({{ doc.download_count }})</a></h5>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <br>
        </div>
        </aside>
    </article>
{% endblock %}




