@charset "gb2312";
{
    margin: 0;
    padding: 0;
}

body {
    /*font: 14px "微软雅黑", Arial, Helvetica, sans-serif;*/
    /*background: no-repeat center top #FAFAE9;*/
    background: no-repeat center top #F5F5F5;
}

.blog {
    width: 100%;
}

/*ul, li {*/
/*    list-style: none;*/
/*}*/

a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #f3910e;
}

header, article, footer {
    overflow: hidden;
}

.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}
.logo > a {
    color: #BB6622;
    font-size: 24px;
}

.about-me-nav {
    width: 0;
    visibility: hidden;
}
.document-nav {
    width: 0;
    visibility: hidden;
}
.statistic-bar {
    visibility: hidden;
    width: 0;
}
.top-nav {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-nav a {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;
    color: #8a6d3b;
}

.inner-search {
    width: 0;
    visibility: hidden;
}

footer {
    text-align: center;
    padding: 20px 0
}

.out-links {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: left
}

.out-links > a {
    padding-right: 10px;
    line-height: 23px;
    margin-left: 10px;
    color: rgba(42, 100, 150, 0.99)
}

.out-links > a:hover {
    color: #f3910e;
    cursor: hand;
    text-decoration:underline;
}
.my-links {
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px
}
.my-links > a {
    margin-right: 10px;
    color: rgba(42, 100, 150, 0.99)
}
.my-links > a:hover {
    color: #f3910e;
}