@charset "gb2312";
{
    margin: 0;
    padding: 0;
}

body {
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
    /*background: no-repeat center top #FAFAE9;*/
    background: no-repeat center top #F5F5F5;
}

/*ul, li {*/
/*    list-style: none;*/
/*}*/

.blog {
    width: 80%;
    margin: auto;
}

.logo {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo > a{
    color: #BB6622;
    font-size: 38px;
}

.top-nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex: 1;
}


.top-nav > a {
    font-size: 16px;
    font-weight: bolder;
    color: #8a6d3b;
}

.inner-search {
    visibility: visible;
    width: 100px;
}

.article-blog {
    margin: auto;
    width: 85%;
}

.statistic-bar {
    visibility: hidden;
    width: 0;
}

footer {
    text-align: center;
    padding: 20px 0
}

.out-links {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: left
}

.out-links > a {
    padding-right: 10px;
    line-height: 23px;
    margin-left: 10px;
    color: rgba(42, 100, 150, 0.99)
}

.out-links > a:hover {
    color: #f3910e;
    cursor: hand;
    text-decoration:underline;
}
.my-links {
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px
}
.my-links > a {
    margin-right: 10px;
    color: rgba(42, 100, 150, 0.99)
}
.my-links > a:hover {
    color: #f3910e;
}