@charset "gb2312";
{
    margin: 0;
    padding: 0;
}

.article-top-3 {
    margin-top: 60px;
    margin-bottom: 80px;
    visibility: visible;
    display: flex;
    justify-content: space-around;
}

.article-item {
    border-radius: 6px;
    background: rgba(215, 215, 215, 0.3);
    border: 1px solid rgba(215, 215, 215, 0.3);
    margin-bottom: 20px;
    display: flex;
}

.article-top-3-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px rgba(215, 215, 215, 0.3) solid;
    background: rgba(215, 215, 215, 0.3);
    border-radius: 6px;
}
.article-top-3-article-pic {
    width: 100%;
    height: 150px;
    border-radius: 4px;
}

.article-top-3-thumbnail-frame {
    height: 190px;
    display: flex;
    flex-direction: column;
}
.article-top-3-thumbnail {
    width: 100%;
    height: 170px;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    border-radius: 4px;
}
.article-top-3-thumbnail img {
    position: absolute;
    width: 100%;
    height: 170px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}


.article-description {
    line-height: 22px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-end;
}

.article-pic {
    height: 150px;
    width: 250px;
    margin: 10px;
    border-radius: 4px;
}

.article-thumbnail-frame {
    width: 290px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
.article-thumbnail {
    margin: 10px;
    height: 160px;
    width: 250px;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    border-radius: 4px;
}
.article-thumbnail img {
    position: absolute;
    height: 160px;
    width: 250px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}

.article-info {
    padding: 0;
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.article-info > hr {
    margin-left: 0;
    width: 98%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(52, 73, 94, 0.14);
}

.article-title {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(52, 73, 94, 0.94);
    font-weight: bolder;
}

.article-footer {
    align-self: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
}
.article-footer > div {
    align-self: flex-end;
}

.pages a{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: solid 1px gray;
    text-decoration: none;
    color: #666;
    text-align: center;
    font:bold 4px/24px 'Microsoft Yahei';
}

.pages a:hover{
    opacity: 0.6;
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
}

.pages .active{
    opacity: 0.8;
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
}
