{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="WmM9Nymwhq" />
	<link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            if (exdays > 0) {
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }
            else {
                document.cookie = cname + "=" + cvalue;
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name) === 0) {
                    return c.substring(name.length,c.length);
                }
            }
            return "";
        }

        function getAddress() {
            var ip = returnCitySN.cip; //客户端ip
            $.getJSON("https://api.map.baidu.com/location/ip?callback=?", {
                'ak': 'x2CC5dtMtwjAAe6epLt2s1Kxs0BmSxPu',
                'coor': 'bd09ll',
                'ip': ip
            }, function(data) {
                var x = data.content.point.x;//经度
                var y = data.content.point.y;//纬度
                var address = data.content.address;//所在市
                req = {}
                req["ip"] = ip;
                req["x"] = x;
                req["y"] = y;
                req["address"] = address;

                setVisit(req);
                setCookie("ip", req["ip"], 0);
                setCookie("address", req["address"], 0);
            });
        }

        function setVisit(req) {
            $.ajax({
            type:'GET',
            data: req,
            url:'{% url 'statistic:set' %}',
            datatype:JSON,
                success:function (data) {
                },
                    error:function () {
                }
            });
        }

        ip = getCookie("ip")
        if (ip === ""){
            //alert("请求");
            getAddress();
        }

        var a_idx = 0;
        jQuery(document).ready(function($) {
            $("body").click(function(e) {
                var a = new Array("❤富强❤","❤民主❤","❤文明❤","❤和谐❤","❤自由❤","❤平等❤","❤公正❤","❤法治❤","❤爱国❤","❤敬业❤","❤诚信❤","❤友善❤");
                var $i = $("<span></span>").text(a[a_idx]);
                a_idx = (a_idx + 1) % a.length;
                var x = e.pageX,
                y = e.pageY;
                $i.css({
                    "z-index": 9999999999999999999999999999999999999999,
                    "top": y - 20,
                    "left": x,
                    "position": "absolute",
                    "font-weight": "bold",
                    "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
                });
                $("body").append($i);
                $i.animate({
                    "top": y - 180,
                    "opacity": 0
                },
                1500,
                function() {
                    $i.remove();
                });
            });
        });
    </script>

    {% block mycss %}
    {% endblock %}

    <title>
        {% block title %}
            西湖歌舞几时休
        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">

    {% block meta %}
    {% endblock %}

    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/base.css' }}"  rel="stylesheet">
    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/index.css' }}" rel="stylesheet">

    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/scrollReveal.js' %}"></script>

    <script src="{% static 'js/article/request-image.js' %}"></script>

    <script src="{% static 'js/map/echarts.min.js' %}"></script>
    <script src="{% static 'js/map/china.js' %}"></script>
</head>
<body>
<header>
    <style type="text/css">
        #search_div{
            float: right;
        }
        #search_div button{
            width: 60px;
            height: 35px;
            border-radius: 5px;
            color: #333;
            background-color: #ffffef;
            border: 1px solid #aaaaaa;
        }
        #search_div input{
            width: 180px;
            height: 35px;
            padding-left: 10px;
            border-radius: 5px;
            border: 1px solid #aaaaaa;
            background-color: #ffffef;
        }
    </style>
    <div class="logo" data-scroll-reveal="enter right over 1s">
        <a href="/" >
            愿你历尽千帆，归来仍是少年
        </a>

{% comment %}        <div style="text-align: right">
            {% if request.user.is_authenticated %}
                欢迎！<a href="{% url 'user:center' %}">{{ request.session.username }}</a>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'user:user_logout' %}">注销</a>
            {% else %}
                <a href="{% url 'user:user_login' %}">登录</a> &nbsp;&nbsp;&nbsp;
                <a href="{% url 'user:register' %}">注册</a>
            {% endif %}
        </div>{% endcomment %}
    </div>

    <nav class="topnav" data-scroll-reveal="enter bottom over 0.8s after 0.8s">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>

        <a href="{% url 'home:home' %}">
            <span>首页</span>
            <span class="en" style="color: #BC7A00">Home</span>
        </a>

        <a href="/aboutme/">
            <span>关于我</span>
            <span class="en" style="color: #BC7A00">About</span>
        </a>


        <a href="{% url 'articles:program:home' %}">
            <span>程序设计</span>
            <span class="en" style="color: #BC7A00">Program</span>
        </a>

        <a href="{% url 'articles:travel:home' %}">
            <span>旅行摄影</span>
            <span class="en" style="color: #BC7A00">Travel</span>
        </a>

        <a href="{% url 'articles:mindsay:home' %}">
            <span>碎言碎语</span>
            <span class="en" style="color: #BC7A00">Saying</span>
        </a>

        <a href="{% url 'document:list' %}">
            <span>文档资源</span>
            <span class="en" style="color: #BC7A00">Download</span>
        </a>

        <a href="{% url 'gbook:list' %}">
            <span>留言</span>
            <span class="en" style="color: #BC7A00">Saying</span>
        </a>

        <div id="search_div">
            <form method="get" action="/search/">
                {% if key_word %}
                    <input id="key_word" type="text" name="keyword" value={{ key_word }} />
                {% else %}
                    <input type="text" name="keyword" placeholder="搜索文章" />
                {% endif %}
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>

</header>
<style>

</style>

<script>
    $(function(){
        $.ajax({
                type:'GET',
                url:'{% url 'statistic:get' %}',
                datatype:JSON,
                success:function (data) {
                    draw(data);
                },
                error:function () {
                    console.log('ajax刷新分页数据失败！');
                }
            });

        //初始化echarts实例
        function draw(data) {
            result = $.parseJSON(data);
            visitData = []
            for (i = 0; i < result.data.length; ++i) {
                visitData.push([result.data[i].x, result.data[i].y, result.data[i].count, result.data[i].city])
            }
            var optionMap = {
                /*visualMap: {
                    bottom: 50, left: 30, min: 0, max: 500, splitNumber: 5,
                    inRange: {color: ['#d94e5d', '#eac736', '#50a3ba'].reverse()},
                    textStyle: {color: '#fff00'}
                },*/
                 tooltip: {
                     /*返回需要的信息*/
                     formatter: function (param) {
                         var value = param.value;
                         return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 16px;padding-bottom: 7px;margin-bottom: 7px;"> ' +
                                    value[3] + '(' + value[2] + ')' +
                                '</div>';
                     }
                 },
                geo: {
                    map: 'china',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {areaColor: '#ffffff', borderColor: 'rgba(66, 203, 232, 0.63)'},
                        emphasis: {areaColor: '#00ff'}
                    }
                },
                series: [{
                    type: 'scatter',
                    //symbolSize: 10,
                    coordinateSystem: 'geo',
                    /*data: convertData([
                    {name: "海门", value: 405},
                ])*/
                    data: visitData,//[[121.15, 31.89, 405]]
                    symbolSize: function (data) {
                        //return  data[2] * 1;
                        var size = new Array()
                        /*size[1] = 4 ;
                        size[2] = 6 ;
                        size[3] = 8;
                        size[4] = 10;
                        size[5] = 12;*/

                        for (var i = 0; i <= 12; i++) {
                            size[i] = i;
                        }

                        var idx = parseInt(data[2] / 10 +1 );
                        if (idx > 12){
                            idx = 12;
                        }
                        
                        return size[idx];
                    },
                    itemStyle: { //基调颜色
                        normal: {
                            color: function (data) {
                                /*var color = new Array()

                                color[1] = "#ff7676";
                                color[2] = "#ff5555";
                                color[3] = "#ff2828";
                                color[4] = "#ca0000";

                                var idx = parseInt(data.data[2] / 10 + 1)
                                if (idx > 4) {
                                    return color[4];
                                }
                                else {
                                    return color[idx];
                                }
                                */
                                var idx = parseInt(data.data[2]);
                                idx = 130 - idx;
                                if (idx < 0) {
                                    idx = 0;
                                }

                                var delt = Number(idx).toString(16);
                                delt += "";
                                if (delt.length < 2) {
                                    delt += "0";
                                }
                                var color = "#FF" + delt + delt;
                                return color;
                            }
                        }
                    },
                }]
            };
            var myChart = echarts.init(document.getElementById('site-statistic'));
            myChart.setOption(optionMap);
        }
 });
</script>

<div class="container" style="width: 100%; border: 0px solid grey">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: 0px solid red">
            <div class="container" style="width: 100%; border: 0px solid grey">
                <div class="row" style="text-align: center">
                    <div id="site-statistic" class="col-sm-12 col-md-12" style="height: 280px;"></div>
                    <p>您是小站的第<span style="color: red"> {{ VISIT_COUNT }} </span>位访客，欢迎~</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border: 0px solid green">
            <article>
                <div class="my-container" >
                    {% block content %}
                    {% endblock %}
                </div>
            </article>
        </div>
        {% comment %}<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: 1px solid red; height: 1000px">
        </div>{% endcomment %}
    </div>
</div>

<div class="container footer_href" style="margin-top: 30px; color: #000000; font-size: 14px">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-3 col-xs-3">
                    <h4>关于我</h4>
                    <ul style="margin: 0; padding: 0">
                        <li style="margin-top: 10px; list-style: none;"><a style="color: grey" href="https://github.com/meiqizhang" target="_blank">github</a></li>
                        <li style="margin-top: 5px; list-style: none;"><a style="color: grey" href="https://blog.csdn.net/zhangqi_gsts" target="_blank">csdn</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <h4>CDN资源库</h4>
                    <ul style="margin: 0; padding: 0">
                        <li style="margin-top:10px; list-style: none;"><a style="color: grey" href="" target="_blank">bootcdn</a></li>
                        <li style="margin-top:5px; list-style: none;"><a style="color: grey" href="" target="_blank">baiducdn</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <h4>常用教程</h4>
                    <ul style="margin: 0; padding: 0">
                        <li style="margin-top: 10px; list-style: none;"><a style="color: grey" href="" target="_blank">w3school</a></li>
                        <li style="margin-top: 5px; list-style: none;"><a style="color: grey" href="" target="_blank">菜鸟教程</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <h4>云服务器</h4>
                    <ul style="margin: 0; padding: 0">
                        <li style="margin-top: 10px; list-style: none;"><a style="color: grey" href="" target="_blank">阿里云</a></li>
                        <li style="margin-top: 5px; list-style: none;"><a style="color: grey" href="https://cloud.tencent.com/product/cvm" target="_blank">腾讯云</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer style="margin-top: 10px; margin-bottom: 10px">
    <span style="color: grey">
        <a style="color: grey" href="http://beian.miit.gov.cn">粤ICP备20054363号</a> | 博客已运行<span class="run_time"></span>
    </span>
</footer>

<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        (function () {
            window.scrollReveal = new scrollReveal({reset: true});
        })();
    }
    $(function(){
        var start_time = 0;
        $.ajax({
            type:'GET',
            url: '/starttime/',
            datatype:JSON,
            async: false,
            success:function (timestamp) {
                start_time = timestamp;
                update_run_time();
            },
            error:function () {
                console.log('ajax刷新分页数据失败！');
            }
        })

        function update_run_time() {
            var startDate = parseInt(start_time);
            var endDate = parseInt(Date.parse(new Date()) / 1000);

            var seconds = endDate - startDate;
            var years = parseInt(seconds / (24 * 3600 * 356));
            if (years > 0){
                seconds = parseInt(seconds % (years * 24 * 3600 * 356));
            }
            else {
				years = 0;
			}

            var days = parseInt(seconds / (24 * 3600));
            if (days > 0) {
                seconds = parseInt(seconds % (days * 24 * 3600));
            }
			else{
				days = 0;
			}

            var hours = parseInt(seconds / 3600);
            if (hours > 0){
                seconds = parseInt(seconds % (hours * 3600));
            }
			else{
				hours = 0;
			}

            var minutes = parseInt(seconds / 60);
			if (minutes > 0){
				seconds = parseInt(seconds % 60);
			}
			else{
				minutes = 0;
			}

            var run = years + " 年 " + days + " 天 " + hours + " 小时 " + minutes + " 分钟 " + seconds + " 秒";

            $(".run_time").html(run);
        }

        function showAuto(){
            if (start_time > 0){
                update_run_time();
            }
        }

        var t = setInterval(showAuto, 1000);
    })

</script>
{% block my_js %}

{% endblock %}

</body>
</html>
