{% extends 'base.html' %}
{% load static %}

{% block mycss %}
    {{ block.super }}
    <style>
        #submit-gbook-btn{
            width: 120px;
            height: 35px;
            border-radius: 5px;
            color: #ff5555;
            background-color:#fff;
            border: 1px solid #ff5555;
            margin-top: 25px;
            margin-right: 30px;
        }
    </style>

    <script src="/static/js/kindeditor/kindeditor-all-min.js"></script>
    <script src="/static/js/kindeditor/lang/zh-CN.js"></script>
    <script src="/static/js/kindeditor/themes/default/default.css"></script>
{% endblock %}

{% block content %}

{% include "comment.html" %}


    {% comment %}<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/kindeditor/kindeditor-all.js"></script>
    <script>
        $(function () {
            var kind = KindEditor.create('#gbook-content', {
                width: '99%',       // 文本框宽度(可以百分比或像素)
                height: '100px',     // 文本框高度(只能像素)
                minWidth: 200,       // 最小宽度（数字）
                minHeight: 150,      // 最小高度（数字）
                uploadJson: '/upload_image/',
                fileManagerJson: '/download_image/',
                allowImageRemote: true,
                allowImageUpload: true,
                allowFileManager: true,
                extraFileUploadParams: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                filePostName: 'fafafa'
            });
        })
    </script>

    <form action="/article/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="width: 99%;margin: 0 auto;">
            <textarea id="gbook-content" name="content">
            </textarea>
        </div>
        <input id="submit-gbook-btn" type="submit" value="提交留言"/>
    </form>
    <div id="#gbook-list">

    </div>

    <script>
        document.getElementById("gbook-content").value=''

     $(function () {
         $('#submit-gbook-btn').click(function () {
             var input = $('#gbook-content')
             if (input == null || input.val().length < 1) {
                 alert('为空');
                 return false;
             }
             $('form').submit();
         })
     })
    </script>{% endcomment %}
{% endblock %}
