@charset "gb2312";
/* about */

.about-banner {
    height: 250px;
    margin: 30px;
    text-align: center;
    overflow: hidden;
    line-height: 30px;
    text-shadow: #fff 1px 1px 1px;
    background: url(../../images/1.jpg) center;
    color: #0333;
    font-size: 18px;
}

.about-banner > p{
    color: red;
}

.memorial_day {
    overflow: hidden;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.memorial_day ul li.n1 {
    position: absolute;
    top: 54px;
    left: calc(100% / 7 * 1 + 40px);
}

.memorial_day ul li.n2 {
    position: absolute;
    top: 54px;
    left: calc(100% / 7 * 2 + 40px);

}
.memorial_day ul li.n3 {
    position: absolute;
    top: 54px;
    left: calc(100% / 7 * 3 + 40px);
}
.memorial_day ul li.n4 {
    position: absolute;
    top: 54px;
        left: calc(100% / 7 * 4 + 40px);
}
.memorial_day ul li.n5 {
    position: absolute;
    top: 54px;
    left: calc(100% / 7 * 5 + 40px);
}
.memorial_day ul li.n6 {
    position: absolute;
    top: 54px;
    left: calc(100% / 7 * 6 + 40px);
}

.time_axis {
    background: #1CA368;
    height: 6px;
/*    animation: time_a 5s; -moz-animation: time_a 5s; !* Firefox *!
    -webkit-animation: time_a 5s; !* Safari and Chrome *!
    -o-animation: time_a 5s; !* Opera *!*/

    margin-left: 140px;
    margin-right: 140px;
}
.timelist{
    float:left;
    margin:0 auto;
    width:400px;
    height:100px;
    border:1px solid #F00;
}

.timelist > li {
}

@keyframes time_a { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:840px;
}
}
 @-moz-keyframes time_a /* Firefox */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:840px;
}
}
 @-webkit-keyframes time_a /* Safari and Chrome */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:840px;
}
}
 @-o-keyframes time_a /* Opera */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:840px;
}
}

.dateview {
    position: absolute;
    top: -50px;
    left: 10px;
    display: block;
    width: 88px;
    background: url(../../images/dtime.png) no-repeat;
    color: #ffffff;
    height: 46px;
    line-height: 30px;
    text-align: center
}

.memorial_day ul li a {
    margin-top: 30px;
    display: block;
    color: #1AAB8A;
}
.memorial_day ul li a:hover {
    text-decoration: underline;
    color: #1AAB8A;
}
.memorial_day ul li::before { content: ""; width: 14px; height: 14px; border-radius: 50%; position: absolute; background: #0979b1; border: 3px solid #e9f6fb; }
.memorial_day ul li:hover::before { background: #FAFAE9; border: 3px solid #e9f6fb; }

.about {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
    line-height: 22px;
}
.about h2 {
    font-size: 22px;
    margin-bottom: 20px;
    background: #5EA51B;
    padding: 10px 0; width: 200px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    box-shadow: #21566f 1px 1px 1px;
    border-left: #dae1e4 6px solid;
}

.about  p {
    margin-bottom: 20px;
    color: #9b542c;
    padding-left: 20px;
}

.about ul { }
.about_c { padding: 10px 0 0 10px; color: #999; line-height: 26px; }
.about_c img { margin: 5px 0 }
.about_c span { color: #19A566 }
a.blog_link { color: #95cdff; margin: 0 20px }
h4.atitle {
    font-size: 18px;
    margin-bottom: 30px;
}
h4.atitle span{ float:right;color:#fff}
.gbko {
    background: rgb(255, 255, 255);
    padding: 0 30px 30px 30px;
    margin: 30px;
    border-radius: 15px;
}
.otherlink{overflow: hidden;}
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; }
.otherlink li a:hover{ text-decoration:underline}
.infops{ margin:0 0 20px 0}
.infops p{ line-height:24px;margin-bottom: 5px;}
.about p img{ margin:auto}
.bt-blue{ background: url(../../images/5817.png) no-repeat 20px center #47A9FF; padding:5px 10px 5px 20px; width:90px; text-align:center; line-height:40px; font-weight:bold; margin-bottom:10px}
.bt-blue a{ color:#fff;}
.ps{ color:#4bcfef}
.shili {background-color: rgb(34, 26, 189);padding: 10px;border: 1px dotted rgb(119, 136, 85);word-wrap: break-word;}
.bt-cs{background:#f90;padding:5px 10px;}
.bt-cs a{color:#fff}
