@charset "gb2312";
/* 共用css */
/** {
    margin: 0;
    padding: 0;
}*/

body {
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
    background: url(../../images/top-white.jpg) no-repeat center top #FAFAE9;
}

img {
    display: block
}

ul, li {
    /*list-style: none;
    border: 2px solid green;*/
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #ffffff;
}
a:hover { text-decoration: none; color: #f3910e; }
.clear { clear: both; }
.blank { height: 8px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }

header, article, footer {
    /*width: 1000px;
    margin: auto;*/
    overflow: hidden;
}
.logo {
    /*border: 1px solid red;*/
    margin-left: 24%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo > a{
    color: #BB6622;
    font-size: 38px;
}
nav {
    margin-bottom: 30px ;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;
}
.topnav a {
    font-size: 18px;
    font-weight: bolder;
    color: #8a6d3b;
    /*margin-left: 25%;*/
}
.topnav a span:first-child {
    z-index: 2;
    display: block;
}
.topnav a span:last-child {
    z-index: 1;
    display: block;
    color: #fff;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    text-align: center
}

.topnav a:hover span:last-child, .topnav a:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}

.en1 {
    color: #f3910e;
    font-size: 12px;
    z-index: 1;
    display: block;
}/* ie */

article {
    background: url(../../images/articlebg.png) repeat;
}

.search_div{
    display: inline-block;
    margin-right: 0px;
    position: relative;
    top: -20px;
}
.search_div button{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    color: #333;
    background-color: #ffffef;
    border: 1px solid #aaaaaa;
}
.search_div input{
    width: 150px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #ffffef;
}
.my-container {
    background: url(../../images/articlebg.png) repeat;
    box-shadow: 0px 0px 10px #1AAB8A inset;
    border:1px solid #FAFAE9;
}
footer {
    text-align: center;
    padding: 20px 0
}

#site-statistic {
    height: 300px;
    width: 100%;
}

.page{ margin:20px 0 ; text-align:center; width:100%;overflow: hidden;}
.page a b {color: #aee1ff;}
.page>b,.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block} /* 锟斤拷锟?IE6*/
.page>b,.page a:hover{background: #2a455d;color: #FFF;}
.page a {color: #aee1ff;border: #89c9ef 1px solid}
.page a .page-active {color: #d19b3d;}


.pages{
    list-style: none;
    text-align: center;
    width:100%;
    /*margin-top: 30px;*/
    margin:20px 0;
    overflow: hidden;
    position:relative;

    /*不能选中文本*/
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    -o-user-select: none; /* Opera*/
    user-select: none;
}

.pages a{
    display: inline-block;
    /*margin: 0 8px;*/
    margin-top: 10px;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: solid 1px #89c9ef;
    text-decoration: none;
    color: #aee1ff;
    text-align: center;
    font:bold 16px/24px 'Microsoft Yahei';
}
.pages a:hover{
    background-color: #666;
    opacity: 0.6;
}

.pages label {
    text-decoration: none;
    color: green;
    margin-left: 10px;
}
.pages .active{
    background-color: #89c9ef;
    color: #fff;
}
.ctitle{
    position:relative
}
.ctitle b{
    font-size: 22px;
    margin-bottom: 20px;
    background: #c0d592;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    box-shadow: #21566f 1px 1px 1px;
    border-left: #dae1e4 6px solid;
    display:block;
    margin:30px 0 0 30px;
}
.ctitle span{
    float:right;
    font-size:14px;
    position:absolute;
    right:20px ;
    top:20px;
    text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;
}

