@charset "gb2312";
/* blog */

.blog {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    border: 0px solid red;
}
.blog figurex {
    background: #ececec;
    border: #FFF 10px solid;
    width: 33%;
    height: 360px;
    float: left;
    /*margin: 0 8px 0;*/
    overflow: hidden;
}

.article-description:hover {
    cursor:hand;
    text-decoration:underline
}

.blog figure img {
    display: block;
    margin: auto;
    overflow: hidden;
}
.blog figure p {
    font-size: 14px;
    text-shadow: #fff 1px 1px 0px;
    line-height: 26px;
    text-align: center;
    font-weight: bold
}
.blog figure p a {
    color: #226039;
}
.blog figure figcaption {
    padding: 10px;
    line-height: 22px;
    color: #666;
    font-size: 10px;
}
.blog figure ul {
    background: url(../../images/yu.png) no-repeat center;
    overflow: hidden;
    height: 160px;
    margin-bottom: 20px;
}
.blog figure ul span {
    opacity: 0
}
.blog figure ul:hover span {
    opacity: 1
}
.blog figure ul {
    position: relative;
    display: block;
}
.blog figure > figcaption{
}

.blog > figure > p > a{
    color: red;
}

.blog > figure > p > a:hover{
    cursor:hand;
    text-decoration:underline
}

.blog figure ul span {
    position: absolute;
    left: 0px; top: 0px;
    background: rgba(0,0,0,0.5) url(../../images/yu.png) no-repeat center 10px;
    color: #FFF;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 256px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    text-decoration: underline
}

.cbp_tmtimeline {
    padding: 0;
    list-style: none;
    position: relative;
}
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #c0d592;
    left: 197px;
    margin-left: -10px;
}
.cbp_tmtimeline > li {
    position: relative;
}
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 150px;
    padding-right: 30px;
    position: absolute;
    margin-left: 20px
}
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 14px;
    color: #c0d592;
}
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 22px;
    color: #fde19a;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #fde19a;
}

@media (min-width: 2200px) {
    .statstic-bar {
        display: block;
    }
}

@media (min-width: 2200px) {
    .statstic-bar {
        display: block;
    }
}

.cbp_tmtimeline > li .cbp_tmlabel {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 250px;

    background: #c0d592;
    color: #ffffff;
    padding: 2em;
    position: relative;
    border-radius: 5px;
    height: 200px;
    margin-right: 50px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    /*background: salmon;*/
    background: #ff9f8f;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    font-size: 16px;
    text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #ff9f8f;
}

.cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
    border-right-color: #c0d592;
}

.readmore{
    color: #fff;
    padding: 5px 10px;
    float: right;
    border-radius: 5px;
    bottom: 20px;
    position: absolute;
    right: 10px
}

.cbp_tmtimeline li:nth-child(odd) .readmore{
    background: #ec4942;
}

.cbp_tmtimeline li:nth-child(even) .readmore{
    background: #46632b;
}

.readmore:focus{
    text-decoration: none;
    color: #fff;
}

.cbp_tmtimeline li:nth-child(odd) .readmore:hover{
    color: rgba(94, 233, 20, 0.89);
    text-decoration: none;
}

.cbp_tmtimeline li:nth-child(even) .readmore:hover{
    color: rgba(17, 16, 50, 0.89);
    text-decoration: none;
}

.cbp_tmlabel > p > a {
    color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmicon {
    width: 10px;
    height: 10px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #afdcf8;
    text-align: center;
    left: 210px;
    top: 15px;
    margin: 0 0 0 -25px;
}

.blogpic {

    width: 40%;
    overflow: hidden;
    display: block; float: left;
    margin-right: 20px;
    /*border: 1px solid grey;*/
}
.blogpic img {
    width: 100%;
    height: auto;
    margin: auto;
}

.cbp_tmtimeline li .cbp_tmtime {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.cbp_tmtimeline li:hover .cbp_tmicon {
    box-shadow: 0 0 0 3px white;
}
.cbp_tmtimeline li:hover .cbp_tmtime {
    background: #c0d592;
    border-radius: 20px 0 0 20px;
}
.cbp_tmtimeline li:hover .cbp_tmtime span {
    color: #fff;
}
