{% extends 'base.html' %}
{% load static %}
{% block title %}
    留言板
{% endblock %}

{% block mycss %}
    {{ block.super }}
    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/gbook.css' }}" rel="stylesheet">
{% endblock %}


{% block meta %}
    <link href="{% static 'css-theme/' %}{{ THEME }}{{ '/toastr.min.css' }}"  rel="stylesheet">
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/gbook.js' %}"></script>
    <script src="/static/ckeditor/ckeditor/adapters/jquery.js"></script>
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>

<div id="input">
{% endblock %}

{% block content %}
    <style>
    .gbook-container {
            background: url(../../static/images/articlebg.png) repeat;
            /*box-shadow: #FAFAE9 1px 1px 10px;
            border: 1px solid grey;*/
           /* box-shadow: 0px 0px 10px #1AAB8A inset;*/
            border:1px solid #FAFAE9;
        }

        .mygbook {
            margin-top: 30px;
            padding-left: 30px;
        }
        .gbook-header > img {
            width: 48px;
            height: 48px;
        }
        .gbook-reply-tool {
            height: auto;
            float: right;
            color: grey;
            font-size: 12px;
            text-decoration: underline;
        }
        .gbook-reply-tool:hover {
            color: red;
            cursor: pointer;
        }
        /*a:hover {
            color: red;
            cursor: pointer;
        }*/
        .gbook-reply > div{
            float: right;
            margin-right: 10px;
            margin-left: 30px;
        }
        .gbook-reply > div:hover{
            color: red;
            cursor: pointer;
        }
        .gbook-message > div >.gbook-username {
            color: grey;
            float: left;
            margin-left: 20px;
        }
        /*width:calc(100% - 2px)*/
    </style>
    <article>
        <aside>
            <div style="margin: 32px">
{#                {% if user.id %}#}
{#                    <img src="{{ user.header }}" style="width: 48px;height:48px; border-radius:50%;">#}
{#                {% else %}#}
{#                    {% include "login.html" %}#}
{#                {% endif %}#}
{#                <br>#}

                <i style="font-size:14px; margin-bottom: 24px" class="fa">开放匿名留言，留下文明的足迹 &#xf209</i>
                {% include "comment.html" %}
                <span>
                    <button id="gbook-add-btn" class="btn btn-primary" style="width:80px; height:30px; margin-top: 10px;">提交留言</button>
                </span>
                <div id="gbook-tree-root">
                </div>
            </div>
        </aside>
    </article>

<script>
    toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            onclick: null,
            showDuration: "500",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            positionClass: "toast-top-center",
      };
</script>
{% endblock %}




