<script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script src="/static/ckeditor/ckeditor/adapters/jquery.js"></script>
<div id="input">
    <textarea id="ckeditor-input-area" name="content" cols="20" rows="2" >
    </textarea>
    <script>
        CKEDITOR.replace('ckeditor-input-area',
        {
            'width': 'auto',
            'height': 200,
            dialog_backgroundCoverOpacity: 0.5,
            resize_enabled: false,
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'zenburn',
            toolbar :
            [
                ['Source'],
                ['Bold',],
                ['Image'],
                ['Format', 'Font', 'FontSize', 'TextColor', 'BGColor', 'Smiley', 'Indent'],
                ['CodeSnippet']
            ]
        });
    </script>
</div>
