{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}

<script>
    alert(0)
</script>

{% block mycss %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <article>
        <aside>
            <div class="my-container">
                <h2 class="ctitle"><b>搜索中...</b>
                    <!--span style="margin-right: 20px">不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span-->
                </h2>
                <!--img src="/static/images/searching.gif" /-->
                <ul class="cbp_tmtimeline">
                    {% for article in articles %}
                        <li>
                            <time class="cbp_tmtime">
                                <span>{{ article.date |slice:"4" }}</span>
                                <span>{{ article.date |slice:"5:10" }}</span>
                            </time>

                            <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                                {% comment %}
                                <div>
                                    <h2 style="float: left;">{{ article.title }}</h2>
                                    (<a style="color: red">{{ article.score }}</a>)
                                </div>
                                {% endcomment %}

                                <div style="clear: both">
                                    <h2>{{ article.title }}</h2>
                                    <p>
                                        <span class="blogpic">
                                            <img id=image-{{ forloop.counter }} src="/static/images/loading.gif">
                                        </span>
                                        <a href="{% url 'article:article_detail' %}?title={{ article.title }}">
                                            {{ article.description }}
                                        </a>
                                    </p>
                                </div>
                                <div id="readmore1">
                                    <a href="{% url 'article:article_detail' %}?title={{ article.title }}"  class="readmore">阅读全文>></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
    </article>

    <script>
        $(function(){
            key_word = $("#key_word").attr("value");
            if (key_word === undefined){
                alert("输入为空");
                return;
            }
            var start =Date.parse(new Date());
            $.ajax({
                type:'GET',
                data:{'keyword': key_word, 'status': 'search'},
                url:'{% url 'article:article_search' %}',
                datatype:JSON,
                success:function (data) {
                    var end = Date.parse(new Date());
                    var cost = end - start;
                    //$(".ctitle").css("width", "100px");
                    $(".ctitle").html('<b>搜索到包含\"' + '<a style=\"color: red\">' + key_word + '</a>\"的文章(' + cost + 'ms)');

                    for (var i = 0; i < data.result.length; i++) {
                        var year = data.result[i].date.substring(0, 4);
                        var day = data.result[i].date.substring(5, 10);

                        $('.cbp_tmtimeline').append('' +
                            '<li>' +
                                '<time class="cbp_tmtime">'+
                                    '<span>' + year + '</span>' +
                                    '<span>' + day + '</span>'+
                                '</time>'+
                                '<div class="cbp_tmicon"></div>' +
                                '<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">' +
                                    '<h2>'+ data.result[i].title +'</h2>' +
                                    '<p>'+
                                        '<span class="blogpic">'+
                                            '<img id="image-' + i + '" src="/static/images/loading.gif">' +
                                        '</span>' +
                                        '<a href="/article/detail?title=' + data.result[i].title + '">'+
                                            data.result[i].description +
                                        '</a>' +
                                    '</p>' +
                                    '<a href="/article/detail?title=' + data.result[i].title + '" class="readmore">阅读全文&gt;&gt;</a>' +
                                '</div>' +
                            '</li>'
                        );
                    }
                    for (var i = 0; i < data.result.length; i++) {
                        set_image(data.result[i].title, "image-" + i);
                    }
                },
                error:function () {
                    console.log('ajax刷新分页数据失败！');
                }
            });
        })
    </script>
{% endblock %}





